/* $c-darkgray: #252525;
$c-gray: #383838;
$c-lightgray: #4e4e4e;
$c-darkprimary: #237259;
$c-primary: #4bfbc4;
$c-darksecondary: #480b8d;
$c-secondary: #8b25ff;
$c-white: #ffffff;
$c-black: #000000;
$c-warn: #8e7d3c;
$c-error: #ff0000; */

$c-darkred: #410013;
$c-darkgray: #1f2c34;
$c-gray: #383838;
$c-lightgray: #4e4e4e;
$c-darkprimary: #237259;
$c-primary: #4bfbc4;
$c-darksecondary: #0b648d;
$c-secondary: #8b25ff;
$c-white: #ffffff;
$c-black: #000000;
$c-warn: #8e7d3c;
$c-error: #ff0000;
$c-button: #394e57;

$c-shadow: #000000;